In [1]:
from gssutils import *

scraper = Scraper('https://digital.nhs.uk/data-and-information/publications/statistical/statistics-on-alcohol')
scraper

## Statistics on Alcohol

This is a catalog of datasets; choose one from the following:

* Statistics on Alcohol, England 2019 [PAS]
* Statistics on Alcohol, England, 2018 [PAS]
* Statistics on Alcohol, England, 2017
* Statistics on Alcohol, England, 2016
* Statistics on Alcohol, England, 2015
* Statistics on Alcohol - England, 2014; Additional Tables
* Statistics on Alcohol - England, 2014
* Statistics on Alcohol - England, 2013
* Statistics on Alcohol: England, 2012
* Statistics on Alcohol: England, 2011
* Statistics on Alcohol: England, 2010
* Statistics on Alcohol: England, 2009
* Statistics on Alcohol: England, 2008
* Statistics on Alcohol: England, 2007
* Statistics on Alcohol: England, 2006

In [2]:
scraper.select_dataset(latest=True)
scraper

## Statistics on Alcohol, England 2019 [PAS]

### Distributions

1. Statistics on Alcohol, England, 2018 - Appendices ([application/pdf](https://files.digital.nhs.uk/12/E3B2A2/alc-eng-2019-app.pdf))
1. Statistics on Alcohol, England, 2018 - Data Quality Statement ([application/pdf](https://files.digital.nhs.uk/39/E3B952/alc-eng-2019-qual.pdf))
1. Statistics on Alcohol, England, 2018 - Tables ([application/vnd.openxmlformats-officedocument.spreadsheetml.sheet](https://files.digital.nhs.uk/A1/9FE2A6/alc-eng-2019-tab.xlsx))
1. Statistics on Alcohol, England, 2018 - CSV Data Pack ([application/zip](https://files.digital.nhs.uk/4F/DC124A/Statistics%20on%20Alcohol%20England%2C%202019.zip))
1. Pre Release Access List ([application/pdf](https://files.digital.nhs.uk/81/52497E/Pre%20Release%20Access%20List.pdf))

In [3]:
dist = scraper.distribution(mediaType='application/zip')
dist

In [4]:
from zipfile import ZipFile
from io import BytesIO
from chardet import detect
from IPython.core.display import HTML

tables = {}

with dist.open() as csv_pack:
    # need to read the file as ZipFile does seek()
    csv_pack_data = BytesIO(csv_pack.read())
    with ZipFile(csv_pack_data) as zf:
        for csv_file in zf.namelist():
            if csv_file.endswith('.csv'):
                with zf.open(csv_file) as csv_stream:
                    # also need to read the data as there are some different character
                    # encodings we need to guess
                    raw_csv_data = csv_stream.read()
                    detected = detect(raw_csv_data)
                    table = pd.read_csv(BytesIO(raw_csv_data), encoding=detected['encoding'])
                    table_name = csv_file[:-4]
                    display(HTML(f'<h2>{table_name}</h2>'))
                    display(table)
                    tables[table_name] = table

     Year                                             Metric  Value
0    1987                                Alcohol price index  101.7
1    1988                                Alcohol price index  106.9
2    1989                                Alcohol price index  112.9
3    1990                                Alcohol price index  123.8
4    1991                                Alcohol price index  139.2
5    1992                                Alcohol price index  148.1
6    1993                                Alcohol price index  154.7
7    1994                                Alcohol price index  158.5
8    1995                                Alcohol price index  164.5
9    1996                                Alcohol price index  169.2
10   1997                                Alcohol price index  173.9
11   1998                                Alcohol price index  179.8
12   1999                                Alcohol price index  184.5
13   2000                                Alcohol price index  187.4
14   2001                                Alcohol price index  191.3
15   2002                                Alcohol price index  195.7
16   2003                                Alcohol price index  199.8
17   2004                                Alcohol price index  203.7
18   2005                                Alcohol price index  207.7
19   2006                                Alcohol price index  212.7
20   2007                                Alcohol price index  219.0
21   2008                                Alcohol price index  227.7
22   2009                                Alcohol price index  236.0
23   2010                                Alcohol price index  244.3
24   2011                                Alcohol price index  258.5
25   2012                                Alcohol price index  267.0
26   2013                                Alcohol price index  274.9
27   2014                                Alcohol price index  280.2
28   2015                                Alcohol price index  281.7
29   2016                                Alcohol price index  283.4
..    ...                                                ...    ...
162  1989  Affordability of alcohol index on a per capita...  112.3
163  1990  Affordability of alcohol index on a per capita...  116.1
164  1991  Affordability of alcohol index on a per capita...  111.2
165  1992  Affordability of alcohol index on a per capita...  111.2
166  1993  Affordability of alcohol index on a per capita...  111.0
167  1994  Affordability of alcohol index on a per capita...  113.0
168  1995  Affordability of alcohol index on a per capita...  115.7
169  1996  Affordability of alcohol index on a per capita...  118.2
170  1997  Affordability of alcohol index on a per capita...  122.1
171  1998  Affordability of alcohol index on a per capita...  124.4
172  1999  Affordability of alcohol index on a per capita...  126.5
173  2000  Affordability of alcohol index on a per capita...  135.8
174  2001  Affordability of alcohol index on a per capita...  139.7
175  2002  Affordability of alcohol index on a per capita...  142.4
176  2003  Affordability of alcohol index on a per capita...  145.4
177  2004  Affordability of alcohol index on a per capita...  149.9
178  2005  Affordability of alcohol index on a per capita...  153.3
179  2006  Affordability of alcohol index on a per capita...  156.0
180  2007  Affordability of alcohol index on a per capita...  161.1
181  2008  Affordability of alcohol index on a per capita...  159.0
182  2009  Affordability of alcohol index on a per capita...  153.9
183  2010  Affordability of alcohol index on a per capita...  153.3
184  2011  Affordability of alcohol index on a per capita...  148.1
185  2012  Affordability of alcohol index on a per capita...  151.1
186  2013  Affordability of alcohol index on a per capita...  152.2
187  2014  Affordability of alcohol index on a per capita...  153.3
188  2015  Affordability of alcohol index on a per capita...  160.6
189  2016  Affordability of alcohol index on a per capita...  161.1
190  2017  Affordability of alcohol index on a per capita...  162.1
191  2018  Affordability of alcohol index on a per capita...  164.0

[192 rows x 3 columns]

,Year,ICD10_Code,ICD10_Description,Metric,Value
0,2017,Total,Total,All persons,5843
1,2017,E24.4,Alcohol-induced pseudo-Cushing's syndrome,All persons,0
2,2017,F10,Mental and behavioural disorders due to the us...,All persons,544
3,2017,G31.2,Degeneration of nervous system due to alcohol,All persons,10
4,2017,G62.1,Alcoholic polyneuropathy,All persons,0
5,2017,G72.1,Alcoholic myopathy,All persons,1
6,2017,I42.6,Alcoholic cardiomyopathy,All persons,112
7,2017,K29.2,Alcoholic gastritis,All persons,16
8,2017,K70,Alcoholic liver disease,All persons,4694
9,2017,K85.2,Alcohol-induced acute pancreatitis,All persons,80
10,2017,K86.0,Alcohol-induced chronic pancreatitis,All persons,15
11,2017,Q86.0,Fetal alcohol syndrome (dysmorphic),All persons,0
12,2017,R78.0,Excess alcohol blood levels,All persons,0
13,2017,X45,Accidental poisoning by and exposure to alcohol,All persons,367
14,2017,X65,Intentional self-poisoning by and exposure to ...,All persons,3
15,2017,Y15,"Poisoning by and exposure to alcohol, undeterm...",All persons,1
16,2017,Total,Total,Male,3853
17,2017,E24.4,Alcohol-induced pseudo-Cushing's syndrome,Male,0
18,2017,F10,Mental and behavioural disorders due to the us...,Male,367
19,2017,G31.2,Degeneration of nervous system due to alcohol,Male,10
20,2017,G62.1,Alcoholic polyneuropathy,Male,0
21,2017,G72.1,Alcoholic myopathy,Male,1
22,2017,I42.6,Alcoholic cardiomyopathy,Male,93
23,2017,K29.2,Alcoholic gastritis,Male,10
24,2017,K70,Alcoholic liver disease,Male,3051
25,2017,K85.2,Alcohol-induced acute pancreatitis,Male,58
26,2017,K86.0,Alcohol-induced chronic pancreatitis,Male,14
27,2017,Q86.0,Fetal alcohol syndrome (dysmorphic),Male,0
28,2017,R78.0,Excess alcohol blood levels,Male,0
29,2017,X45,Accidental poisoning by and exposure to alcohol,Male,248
30,2017,X65,Intentional self-poisoning by and exposure to ...,Male,1
31,2017,Y15,"Poisoning by and exposure to alcohol, undeterm...",Male,0
32,2017,Total,Total,Female,1990
33,2017,E24.4,Alcohol-induced pseudo-Cushing's syndrome,Female,0
34,2017,F10,Mental and behavioural disorders due to the us...,Female,177
35,2017,G31.2,Degeneration of nervous system due to alcohol,Female,0
36,2017,G62.1,Alcoholic polyneuropathy,Female,0
37,2017,G72.1,Alcoholic myopathy,Female,0
38,2017,I42.6,Alcoholic cardiomyopathy,Female,19
39,2017,K29.2,Alcoholic gastritis,Female,6
40,2017,K70,Alcoholic liver disease,Female,1643
41,2017,K85.2,Alcohol-induced acute pancreatitis,Female,22
42,2017,K86.0,Alcohol-induced chronic pancreatitis,Female,1
43,2017,Q86.0,Fetal alcohol syndrome (dysmorphic),Female,0
44,2017,R78.0,Excess alcohol blood levels,Female,0
45,2017,X45,Accidental poisoning by and exposure to alcohol,Female,119
46,2017,X65,Intentional self-poisoning by and exposure to ...,Female,2
47,2017,Y15,"Poisoning by and exposure to alcohol, undeterm...",Female,1

,Year,Metric,Value,Unnamed: 3,Unnamed: 4
0,1987,Household expenditure on alcohol,9732,NaN,NaN
1,1988,Household expenditure on alcohol,10068,NaN,NaN
2,1989,Household expenditure on alcohol,10172,NaN,NaN
3,1990,Household expenditure on alcohol,10303,NaN,NaN
4,1991,Household expenditure on alcohol,9962,NaN,NaN
5,1992,Household expenditure on alcohol,9800,NaN,NaN
6,1993,Household expenditure on alcohol,9940,NaN,NaN
7,1994,Household expenditure on alcohol,10695,NaN,NaN
8,1995,Household expenditure on alcohol,10219,NaN,NaN
9,1996,Household expenditure on alcohol,11386,NaN,NaN
10,1997,Household expenditure on alcohol,12131,NaN,NaN
11,1998,Household expenditure on alcohol,11697,NaN,NaN
12,1999,Household expenditure on alcohol,13362,NaN,NaN
13,2000,Household expenditure on alcohol,13578,NaN,NaN
14,2001,Household expenditure on alcohol,14762,NaN,NaN
15,2002,Household expenditure on alcohol,15761,NaN,NaN
16,2003,Household expenditure on alcohol,16679,NaN,NaN
17,2004,Household expenditure on alcohol,18003,NaN,NaN
18,2005,Household expenditure on alcohol,18958,NaN,NaN
19,2006,Household expenditure on alcohol,18834,NaN,NaN
20,2007,Household expenditure on alcohol,19099,NaN,NaN
21,2008,Household expenditure on alcohol,18565,NaN,NaN
22,2009,Household expenditure on alcohol,17854,NaN,NaN
23,2010,Household expenditure on alcohol,18333,NaN,NaN
24,2011,Household expenditure on alcohol,17853,NaN,NaN
25,2012,Household expenditure on alcohol,18019,NaN,NaN
26,2013,Household expenditure on alcohol,17818,NaN,NaN
27,2014,Household expenditure on alcohol,17832,NaN,NaN
28,2015,Household expenditure on alcohol,18159,NaN,NaN
29,2016,Household expenditure on alcohol,18518,NaN,NaN
...,...,...,...,...,...
63,1988,Expenditure on alcohol as a percentage of expe...,2.977438539,NaN,NaN
64,1989,Expenditure on alcohol as a percentage of expe...,2.750214945,NaN,NaN
65,1990,Expenditure on alcohol as a percentage of expe...,2.565060112,NaN,NaN
66,1991,Expenditure on alcohol as a percentage of expe...,2.31628093,NaN,NaN
67,1992,Expenditure on alcohol as a percentage of expe...,2.167642843,NaN,NaN
68,1993,Expenditure on alcohol as a percentage of expe...,2.076882253,NaN,NaN
69,1994,Expenditure on alcohol as a percentage of expe...,2.132032518,NaN,NaN
70,1995,Expenditure on alcohol as a percentage of expe...,1.939008239,NaN,NaN
71,1996,Expenditure on alcohol as a percentage of expe...,2.016145454,NaN,NaN
72,1997,Expenditure on alcohol as a percentage of expe...,2.01606068,NaN,NaN
73,1998,Expenditure on alcohol as a percentage of expe...,1.845840665,NaN,NaN
74,1999,Expenditure on alcohol as a percentage of expe...,2.001767764,NaN,NaN
75,2000,Expenditure on alcohol as a percentage of expe...,1.930818728,NaN,NaN
76,2001,Expenditure on alcohol as a percentage of expe...,2.0227321,NaN,NaN
77,2002,Expenditure on alcohol as a percentage of expe...,2.072523189,NaN,NaN
78,2003,Expenditure on alcohol as a percentage of expe...,2.097066822,NaN,NaN
79,2004,Expenditure on alcohol as a percentage of expe...,2.165881265,NaN,NaN
80,2005,Expenditure on alcohol as a percentage of expe...,2.171395716,NaN,NaN
81,2006,Expenditure on alcohol as a percentage of expe...,2.065860973,NaN,NaN
82,2007,Expenditure on alcohol as a percentage of expe...,2.004359448,NaN,NaN
83,2008,Expenditure on alcohol as a percentage of expe...,1.886648645,NaN,NaN
84,2009,Expenditure on alcohol as a percentage of expe...,1.861305917,NaN,NaN
85,2010,Expenditure on alcohol as a percentage of expe...,1.864633298,NaN,NaN
86,2011,Expenditure on alcohol as a percentage of expe...,1.762958033,NaN,NaN
87,2012,Expenditure on alcohol as a percentage of expe...,1.712334625,NaN,NaN
88,2013,Expenditure on alcohol as a percentage of expe...,1.622823356,NaN,NaN
89,2014,Expenditure on alcohol as a percentage of expe...,1.560992691,NaN,NaN
90,2015,Expenditure on alcohol as a percentage of expe...,1.540314611,NaN,NaN
91,2016,Expenditure on alcohol as a percentage of expe...,1.499133372,NaN,NaN
92,2017,Expenditure on alcohol as a percentage of expe...,1.49365702,NaN,NaN

,Year,Metric_Primary,Metric_Secondary,Value
0,2017,Prescription Items - All Settings,Acamprosate Calcium,134673
1,2017,Prescription Items - All Settings,Disulfiram,35807
2,2017,Prescription Items - All Settings,Nalmefene,2497
3,2017,Prescription Items - All Settings,Total,172977
4,2017,Prescribed in primary care,Acamprosate Calcium,131348
5,2017,Prescribed in primary care,Disulfiram,34718
6,2017,Prescribed in primary care,Nalmefene,2337
7,2017,Prescribed in primary care,Total,168403
8,2017,Prescribed in NHS hospitals,Acamprosate Calcium,3325
9,2017,Prescribed in NHS hospitals,Disulfiram,1089
10,2017,Prescribed in NHS hospitals,Nalmefene,160
11,2017,Prescribed in NHS hospitals,Total,4574
12,2017,Net Ingredient Cost (Â£ 000s),Acamprosate Calcium,2716
13,2017,Net Ingredient Cost (Â£ 000s),Disulfiram,1569
14,2017,Net Ingredient Cost (Â£ 000s),Nalmefene,138
15,2017,Net Ingredient Cost (Â£ 000s),Total,4423
16,2017,Average Net Ingredient Cost per item (Â£),Acamprosate Calcium,20
17,2017,Average Net Ingredient Cost per item (Â£),Disulfiram,44
18,2017,Average Net Ingredient Cost per item (Â£),Nalmefene,55
19,2017,Average Net Ingredient Cost per item (Â£),Total,26
20,2016,Prescription Items - All Settings,Acamprosate Calcium,135306
21,2016,Prescription Items - All Settings,Disulfiram,49661
22,2016,Prescription Items - All Settings,Nalmefene,3364
23,2016,Prescription Items - All Settings,Total,188331
24,2016,Prescribed in primary care,Acamprosate Calcium,132320
25,2016,Prescribed in primary care,Disulfiram,47990
26,2016,Prescribed in primary care,Nalmefene,3113
27,2016,Prescribed in primary care,Total,183423
28,2016,Prescribed in NHS hospitals,Acamprosate Calcium,2986
29,2016,Prescribed in NHS hospitals,Disulfiram,1671
...,...,...,...,...
250,2005,Prescribed in NHS hospitals,Nalmefene,-
251,2005,Prescribed in NHS hospitals,Total,11349
252,2005,Net Ingredient Cost (Â£ 000s),Acamprosate Calcium,1362
253,2005,Net Ingredient Cost (Â£ 000s),Disulfiram,599
254,2005,Net Ingredient Cost (Â£ 000s),Nalmefene,-
255,2005,Net Ingredient Cost (Â£ 000s),Total,1960
256,2005,Average Net Ingredient Cost per item (Â£),Acamprosate Calcium,20
257,2005,Average Net Ingredient Cost per item (Â£),Disulfiram,14
258,2005,Average Net Ingredient Cost per item (Â£),Nalmefene,-
259,2005,Average Net Ingredient Cost per item (Â£),Total,18
260,2004,Prescription Items - All Settings,Acamprosate Calcium,66863
261,2004,Prescription Items - All Settings,Disulfiram,41218
262,2004,Prescription Items - All Settings,Nalmefene,-
263,2004,Prescription Items - All Settings,Total,108081
264,2004,Prescribed in primary care,Acamprosate Calcium,61310
265,2004,Prescribed in primary care,Disulfiram,36651
266,2004,Prescribed in primary care,Nalmefene,-
267,2004,Prescribed in primary care,Total,97961
268,2004,Prescribed in NHS hospitals,Acamprosate Calcium,5553
269,2004,Prescribed in NHS hospitals,Disulfiram,4567
270,2004,Prescribed in NHS hospitals,Nalmefene,-
271,2004,Prescribed in NHS hospitals,Total,10120
272,2004,Net Ingredient Cost (Â£ 000s),Acamprosate Calcium,1370
273,2004,Net Ingredient Cost (Â£ 000s),Disulfiram,456
274,2004,Net Ingredient Cost (Â£ 000s),Nalmefene,-
275,2004,Net Ingredient Cost (Â£ 000s),Total,1516
276,2004,Average Net Ingredient Cost per item (Â£),Acamprosate Calcium,20
277,2004,Average Net Ingredient Cost per item (Â£),Disulfiram,11
278,2004,Average Net Ingredient Cost per item (Â£),Nalmefene,-
279,2004,Average Net Ingredient Cost per item (Â£),Total,14

,ONS_Code,Org_Code,Org_Name,Year,Metric_Primary,Metric_Secondary,Value
0,E92000001,921,England,2017,Prescription items,Total,168403
1,XXXXXXXX,XXX,Unknown,2017,Prescription items,Total,800
2,NaN,NaN,Non-CCG,2017,Prescription items,Total,15462
3,E40000001,Y54,North of England,2017,Prescription items,Total,74935
4,E39000029,Q72,NHS England North (Yorkshire and Humber),2017,Prescription items,Total,23833
5,E38000001,02N,"NHS Airedale, Wharfedale and Craven",2017,Prescription items,Total,318
6,E38000006,02P,NHS Barnsley,2017,Prescription items,Total,1717
7,E38000008,02Q,NHS Bassetlaw,2017,Prescription items,Total,164
8,E38000018,02W,NHS Bradford City,2017,Prescription items,Total,56
9,E38000019,02R,NHS Bradford Districts,2017,Prescription items,Total,362
10,E38000025,02T,NHS Calderdale,2017,Prescription items,Total,375
11,E38000044,02X,NHS Doncaster,2017,Prescription items,Total,228
12,E38000052,02Y,NHS East Riding of Yorkshire,2017,Prescription items,Total,1479
13,E38000064,03A,NHS Greater Huddersfield,2017,Prescription items,Total,498
14,E38000069,03D,"NHS Hambleton, Richmondshire and Whitby",2017,Prescription items,Total,332
15,E38000073,03E,NHS Harrogate and Rural District,2017,Prescription items,Total,313
16,E38000085,03F,NHS Hull,2017,Prescription items,Total,327
17,E38000094,02V,NHS Leeds North,2017,Prescription items,Total,472
18,E38000095,03G,NHS Leeds South and East,2017,Prescription items,Total,876
19,E38000096,03C,NHS Leeds West,2017,Prescription items,Total,1145
20,E38000119,03H,NHS North East Lincolnshire,2017,Prescription items,Total,163
21,E38000121,03J,NHS North Kirklees,2017,Prescription items,Total,572
22,E38000122,03K,NHS North Lincolnshire,2017,Prescription items,Total,685
23,E38000141,03L,NHS Rotherham,2017,Prescription items,Total,2439
24,E38000145,03M,NHS Scarborough and Ryedale,2017,Prescription items,Total,368
25,E38000146,03N,NHS Sheffield,2017,Prescription items,Total,5180
26,E38000188,03Q,NHS Vale of York,2017,Prescription items,Total,547
27,E38000190,03R,NHS Wakefield,2017,Prescription items,Total,1329
28,E39000037,Q83,NHS England North (Greater Manchester),2017,Prescription items,Total,20968
29,E38000016,00T,NHS Bolton,2017,Prescription items,Total,1057
...,...,...,...,...,...,...,...
1794,E38000177,99H,NHS Surrey Downs,2017,Prescription items per 100000 population,Nalmefene,0
1795,E38000178,10C,NHS Surrey Heath,2017,Prescription items per 100000 population,Nalmefene,3
1796,E38000180,10D,NHS Swale,2017,Prescription items per 100000 population,Nalmefene,0
1797,E38000184,10E,NHS Thanet,2017,Prescription items per 100000 population,Nalmefene,6
1798,E38000199,99J,NHS West Kent,2017,Prescription items per 100000 population,Nalmefene,7
1799,E39000034,Q82,NHS England South (South Central),2017,Prescription items per 100000 population,Nalmefene,3
1800,E38000003,10Y,NHS Aylesbury Vale,2017,Prescription items per 100000 population,Nalmefene,0
1801,E38000009,11E,NHS Bath and North East Somerset,2017,Prescription items per 100000 population,Nalmefene,0
1802,E38000017,10G,NHS Bracknell and Ascot,2017,Prescription items per 100000 population,Nalmefene,5
1803,E38000033,10H,NHS Chiltern,2017,Prescription items per 100000 population,Nalmefene,0
1804,E38000062,11M,NHS Gloucestershire,2017,Prescription items per 100000 population,Nalmefene,3
1805,E38000110,10M,NHS Newbury and District,2017,Prescription items per 100000 population,Nalmefene,9
1806,E38000114,10N,NHS North & West Reading,2017,Prescription items per 100000 population,Nalmefene,4
1807,E38000136,10Q,NHS Oxfordshire,2017,Prescription items per 100000 population,Nalmefene,2
1808,E38000148,10T,NHS Slough,2017,Prescription items per 100000 population,Nalmefene,1
1809,E38000160,10W,NHS South Reading,2017,Prescription items per 100000 population,Nalmefene,0
1810,E38000181,12D,NHS Swindon,2017,Prescription items per 100000 population,Nalmefene,6
1811,E38000206,99N,NHS Wiltshire,2017,Prescription items per 100000 population,Nalmefene,8
1812,E38000207,11C,"NHS Windsor, Ascot and Maidenhead",2017,Prescription items per 100000 population,Nalmefene,0
1813,E38000209,11D,NHS Wokingham,2017,Prescription items per 100000 population,Nalmefene,1
1814,E39000025,Q70,NHS England South (Wessex),2017,Prescription items per 100000 population,Nalmefene,4
1815,E38000045,11J,NHS Dorset,2017,Prescription items per 100000 population,Nalmefene,7
1816,E38000059,10K,NHS Fareham and Gosport,2017,Prescription items per 100000 population,Nalmefene,5
1817,E38000087,10L,NHS Isle of Wight,2017,Prescription items per 100000 population,Nalmefene,0
1818,E38000118,99M,NHS North East Hampshire and Farnham,2017,Prescription items per 100000 population,Nalmefene,3
1819,E38000120,10J,NHS North Hampshire,2017,Prescription items per 100000 population,Nalmefene,1
1820,E38000137,10R,NHS Portsmouth,2017,Prescription items per 100000 population,Nalmefene,3
1821,E38000154,10V,NHS South Eastern Hampshire,2017,Prescription items per 100000 population,Nalmefene,1
1822,E38000167,10X,NHS Southampton,2017,Prescription items per 100000 population,Nalmefene,1
1823,E38000198,11A,NHS West Hampshire,2017,Prescription items per 100000 population,Nalmefene,5

In [5]:
import re
title_years = re.compile(r'(.*?)([0-9]+(_to_[0-9]+)?)')
titles = {}
for (filename, table) in tables.items():
    match = title_years.match(filename)
    if match:
        titles[filename] = match.group(1).replace('_', ' ').strip()
        years = match.group(2)
        display(HTML(f'<h2>{titles[filename]}</h2>'))
        for col in table:
            if col not in ['Year', 'Value']:
                table[col] = table[col].astype('category')
                display(HTML(f'<h3>{col}</h3>'))
                display(table[col].cat.categories)

Index(['Affordability of alcohol index on a per capita basis (revised)',
       'Alcohol price index',
       'Alcohol price index relative to Retail price index (all items)',
       'Real disposable income per adult (18+) (revised)',
       'Real household disposable income (revised)',
       'Retail prices index (all items)'],
      dtype='object')

Index(['E24.4', 'F10', 'G31.2', 'G62.1', 'G72.1', 'I42.6', 'K29.2', 'K70',
       'K85.2', 'K86.0', 'Q86.0', 'R78.0', 'Total', 'X45', 'X65', 'Y15'],
      dtype='object')

Index(['Accidental poisoning by and exposure to alcohol',
       'Alcohol-induced acute pancreatitis',
       'Alcohol-induced chronic pancreatitis',
       'Alcohol-induced pseudo-Cushing's syndrome', 'Alcoholic cardiomyopathy',
       'Alcoholic gastritis', 'Alcoholic liver disease', 'Alcoholic myopathy',
       'Alcoholic polyneuropathy',
       'Degeneration of nervous system due to alcohol',
       'Excess alcohol blood levels', 'Fetal alcohol syndrome (dysmorphic)',
       'Intentional self-poisoning by and exposure to alcohol',
       'Mental and behavioural disorders due to the use of alcohol',
       'Poisoning by and exposure to alcohol, undetermined intent', 'Total'],
      dtype='object')

Index(['All persons', 'Female', 'Male'], dtype='object')

Index(['Expenditure on alcohol as a percentage of expenditure',
       'Household expenditure Total', 'Household expenditure on alcohol'],
      dtype='object')

Float64Index([], dtype='float64')

Float64Index([], dtype='float64')

Index(['Average Net Ingredient Cost per item (Â£)',
       'Net Ingredient Cost (Â£ 000s)', 'Prescribed in NHS hospitals',
       'Prescribed in primary care', 'Prescription Items - All Settings'],
      dtype='object')

Index(['Acamprosate Calcium', 'Disulfiram', 'Nalmefene', 'Total'], dtype='object')

Index(['E38000001', 'E38000002', 'E38000003', 'E38000004', 'E38000005',
       'E38000006', 'E38000007', 'E38000008', 'E38000009', 'E38000010',
       ...
       'E39000035', 'E39000036', 'E39000037', 'E39000038', 'E40000001',
       'E40000002', 'E40000003', 'E40000004', 'E92000001', 'XXXXXXXX'],
      dtype='object', length=227)

Index(['00C', '00D', '00J', '00K', '00L', '00M', '00N', '00P', '00Q', '00R',
       ...
       'Q80', 'Q81', 'Q82', 'Q83', 'Q84', 'XXX', 'Y54', 'Y55', 'Y56', 'Y57'],
      dtype='object', length=227)

Index(['England', 'London', 'Midlands and East of England',
       'NHS Airedale, Wharfedale and Craven ', 'NHS Ashford ',
       'NHS Aylesbury Vale ', 'NHS Barking & Dagenham ', 'NHS Barnet ',
       'NHS Barnsley ', 'NHS Basildon and Brentwood',
       ...
       'NHS Wiltshire ', 'NHS Windsor, Ascot and Maidenhead ', 'NHS Wirral',
       'NHS Wokingham ', 'NHS Wolverhampton ', 'NHS Wyre Forest ', 'Non-CCG',
       'North of England', 'South of England', 'Unknown'],
      dtype='object', length=228)

Index(['Prescription items', 'Prescription items per 100000 population'], dtype='object')

Index(['Acamprosate Calcium', 'Disulfiram', 'Nalmefene', 'Total'], dtype='object')

In [6]:
from pathlib import Path
out = Path('out')
out.mkdir(exist_ok=True)

for (filename, table) in tables.items():
    title = titles[filename]
    if title == 'Alcohol affordability':
        table['Period'] = table['Year'].map(lambda x: f'year/{x}')
        table = table.drop(columns='Year')
        table['Revision'] = table['Metric'].map(
            lambda x: 'revised' if x.endswith(' (revised)') else 'original-value')
        table.rename(columns={'Metric': 'Alcohol Affordability'}, inplace=True)
        table['Alcohol Affordability'].cat.rename_categories(
            lambda x: pathify(x[:-len(" (18+) (revised)")] if x.endswith(" (18+) (revised)") else
                      x[:-len(" (revised)")] if x.endswith(" (revised)") else x),
            inplace=True)
        table['Measure Type'] = 'Ratio'
        table['Unit'] = 'index'
    elif title == 'Alcohol Specific Deaths':
        table['Period'] = table['Year'].map(lambda x: f'year/{x}')
        table['Underlying Cause of Death'] = table['ICD10_Code'].map(
            lambda x: pathify(x) if x != 'Total' else 'all-alcohol-related-deaths')
        table = table.drop(columns=['Year', 'ICD10_Code', 'ICD10_Description'])
        table.rename(columns={'Metric': 'Sex'}, inplace=True)
        table['Sex'].cat.rename_categories(
            {'All persons': 'T',
             'Male': 'M', 'Female': 'F'}, inplace=True)
        table['Measure Type'] = 'Count'
        table['Unit'] = 'deaths'
    elif title == 'Household Expenditure Alcohol':
        table['Period'] = table['Year'].map(lambda x: f'year/{x}')
        table.rename(columns={'Metric': 'Household expenditure type'}, inplace=True)
        table['Household expenditure type'].cat.rename_categories(pathify, inplace=True)
        table = table.drop(columns=['Year', 'Unnamed: 3', 'Unnamed: 4'])
        table['Measure Type'] = 'Household expenditure'
        table['Unit'] = table['Household expenditure type'].map(
            lambda x: 'percent' if 'percentage' in x else 'gbp')
        table['Value'] = table['Value'].map(
            lambda x: x.replace(',', ''))
    elif title == 'Prescription Items Community':
        table['Period'] = table['Year'].map(lambda x: f'year/{x}')
        table.rename(columns={
            'Metric_Primary': 'Metric',
            'Metric_Secondary': 'Prescription item'}, inplace=True)
        table['Unit'] = table['Metric'].map(
            lambda x: 'gbp' if x.endswith('(Â£)') else 'gbp-thousands' if x.endswith('(Â£ 000s)') else 'prescription-items')
        table['Metric'].cat.rename_categories({
            'Average Net Ingredient Cost per item (Â£)': 'average-net-ingredient-cost-per-item',
            'Net Ingredient Cost (Â£ 000s)': 'net-ingredient-cost',
            'Prescribed in NHS hospitals': 'prescribed-in-nhs-hospitals',
            'Prescribed in primary care': 'prescribed-in-primary-care',
            'Prescription Items - All Settings': 'all-prescription-settings'
        }, inplace=True)
        table.rename(columns={'Metric': 'Prescription'}, inplace=True)
        table['Prescription item'].cat.rename_categories(pathify, inplace=True)
        table = table.drop(columns=['Year'])
        table['Measure Type'] = table['Unit'].map(
            lambda x: 'Count' if x == 'prescription-items' else 'GBP Total')
        table['Value'] = pd.to_numeric(table['Value'], errors='coerce', downcast='integer')
        table.dropna(subset=['Value'], inplace=True)
        table['Value'] = table['Value'].astype('int')
    elif title == 'Prescription Items Region':
        table['Period'] = table['Year'].map(lambda x: f'year/{x}')
        table.rename(columns={
            'ONS_Code': 'Geography',
            'Metric_Primary': 'Metric',
            'Metric_Secondary': 'Prescription item'
        }, inplace=True)
        table.drop(table[(table['Geography'] == 'XXXXXXXX') |
                         (table['Geography'].isna())].index, inplace=True)
        table['Metric'].cat.rename_categories(pathify, inplace=True)
        table.rename(columns={'Metric': 'Prescription'}, inplace=True)
        table['Prescription item'].cat.rename_categories(pathify, inplace=True)
        table = table.drop(columns=['Year', 'Org_Code', 'Org_Name'])
        table['Measure Type'] = 'Count'
        table['Unit'] = 'prescription-items'
        table['Value'] = pd.to_numeric(table['Value'], errors='coerce', downcast='integer')
        table.dropna(subset=['Value'], inplace=True)
        table['Value'] = table['Value'].astype('int')
    else:        
        continue
    display(HTML(f'<h2>{title}</h2>'))
    display(table)
    table.to_csv(out / f'{pathify(title)}.csv', index = False)
    schema = CSVWSchema('https://ons-opendata.github.io/ref_alcohol/')
    schema.create(out / f'{pathify(title)}.csv', out / f'{pathify(title)}.csv-schema.json')

   Sex  Value     Period   Underlying Cause of Death Measure Type    Unit
0    T   5843  year/2017  all-alcohol-related-deaths        Count  deaths
1    T      0  year/2017                       e24-4        Count  deaths
2    T    544  year/2017                         f10        Count  deaths
3    T     10  year/2017                       g31-2        Count  deaths
4    T      0  year/2017                       g62-1        Count  deaths
5    T      1  year/2017                       g72-1        Count  deaths
6    T    112  year/2017                       i42-6        Count  deaths
7    T     16  year/2017                       k29-2        Count  deaths
8    T   4694  year/2017                         k70        Count  deaths
9    T     80  year/2017                       k85-2        Count  deaths
10   T     15  year/2017                       k86-0        Count  deaths
11   T      0  year/2017                       q86-0        Count  deaths
12   T      0  year/2017                       r78-0        Count  deaths
13   T    367  year/2017                         x45        Count  deaths
14   T      3  year/2017                         x65        Count  deaths
15   T      1  year/2017                         y15        Count  deaths
16   M   3853  year/2017  all-alcohol-related-deaths        Count  deaths
17   M      0  year/2017                       e24-4        Count  deaths
18   M    367  year/2017                         f10        Count  deaths
19   M     10  year/2017                       g31-2        Count  deaths
20   M      0  year/2017                       g62-1        Count  deaths
21   M      1  year/2017                       g72-1        Count  deaths
22   M     93  year/2017                       i42-6        Count  deaths
23   M     10  year/2017                       k29-2        Count  deaths
24   M   3051  year/2017                         k70        Count  deaths
25   M     58  year/2017                       k85-2        Count  deaths
26   M     14  year/2017                       k86-0        Count  deaths
27   M      0  year/2017                       q86-0        Count  deaths
28   M      0  year/2017                       r78-0        Count  deaths
29   M    248  year/2017                         x45        Count  deaths
30   M      1  year/2017                         x65        Count  deaths
31   M      0  year/2017                         y15        Count  deaths
32   F   1990  year/2017  all-alcohol-related-deaths        Count  deaths
33   F      0  year/2017                       e24-4        Count  deaths
34   F    177  year/2017                         f10        Count  deaths
35   F      0  year/2017                       g31-2        Count  deaths
36   F      0  year/2017                       g62-1        Count  deaths
37   F      0  year/2017                       g72-1        Count  deaths
38   F     19  year/2017                       i42-6        Count  deaths
39   F      6  year/2017                       k29-2        Count  deaths
40   F   1643  year/2017                         k70        Count  deaths
41   F     22  year/2017                       k85-2        Count  deaths
42   F      1  year/2017                       k86-0        Count  deaths
43   F      0  year/2017                       q86-0        Count  deaths
44   F      0  year/2017                       r78-0        Count  deaths
45   F    119  year/2017                         x45        Count  deaths
46   F      2  year/2017                         x65        Count  deaths
47   F      1  year/2017                         y15        Count  deaths

,Household expenditure type,Value,Period,Measure Type,Unit
0,household-expenditure-on-alcohol,9732,year/1987,Household expenditure,gbp
1,household-expenditure-on-alcohol,10068,year/1988,Household expenditure,gbp
2,household-expenditure-on-alcohol,10172,year/1989,Household expenditure,gbp
3,household-expenditure-on-alcohol,10303,year/1990,Household expenditure,gbp
4,household-expenditure-on-alcohol,9962,year/1991,Household expenditure,gbp
5,household-expenditure-on-alcohol,9800,year/1992,Household expenditure,gbp
6,household-expenditure-on-alcohol,9940,year/1993,Household expenditure,gbp
7,household-expenditure-on-alcohol,10695,year/1994,Household expenditure,gbp
8,household-expenditure-on-alcohol,10219,year/1995,Household expenditure,gbp
9,household-expenditure-on-alcohol,11386,year/1996,Household expenditure,gbp
10,household-expenditure-on-alcohol,12131,year/1997,Household expenditure,gbp
11,household-expenditure-on-alcohol,11697,year/1998,Household expenditure,gbp
12,household-expenditure-on-alcohol,13362,year/1999,Household expenditure,gbp
13,household-expenditure-on-alcohol,13578,year/2000,Household expenditure,gbp
14,household-expenditure-on-alcohol,14762,year/2001,Household expenditure,gbp
15,household-expenditure-on-alcohol,15761,year/2002,Household expenditure,gbp
16,household-expenditure-on-alcohol,16679,year/2003,Household expenditure,gbp
17,household-expenditure-on-alcohol,18003,year/2004,Household expenditure,gbp
18,household-expenditure-on-alcohol,18958,year/2005,Household expenditure,gbp
19,household-expenditure-on-alcohol,18834,year/2006,Household expenditure,gbp
20,household-expenditure-on-alcohol,19099,year/2007,Household expenditure,gbp
21,household-expenditure-on-alcohol,18565,year/2008,Household expenditure,gbp
22,household-expenditure-on-alcohol,17854,year/2009,Household expenditure,gbp
23,household-expenditure-on-alcohol,18333,year/2010,Household expenditure,gbp
24,household-expenditure-on-alcohol,17853,year/2011,Household expenditure,gbp
25,household-expenditure-on-alcohol,18019,year/2012,Household expenditure,gbp
26,household-expenditure-on-alcohol,17818,year/2013,Household expenditure,gbp
27,household-expenditure-on-alcohol,17832,year/2014,Household expenditure,gbp
28,household-expenditure-on-alcohol,18159,year/2015,Household expenditure,gbp
29,household-expenditure-on-alcohol,18518,year/2016,Household expenditure,gbp
...,...,...,...,...,...
63,expenditure-on-alcohol-as-a-percentage-of-expe...,2.977438539,year/1988,Household expenditure,percent
64,expenditure-on-alcohol-as-a-percentage-of-expe...,2.750214945,year/1989,Household expenditure,percent
65,expenditure-on-alcohol-as-a-percentage-of-expe...,2.565060112,year/1990,Household expenditure,percent
66,expenditure-on-alcohol-as-a-percentage-of-expe...,2.31628093,year/1991,Household expenditure,percent
67,expenditure-on-alcohol-as-a-percentage-of-expe...,2.167642843,year/1992,Household expenditure,percent
68,expenditure-on-alcohol-as-a-percentage-of-expe...,2.076882253,year/1993,Household expenditure,percent
69,expenditure-on-alcohol-as-a-percentage-of-expe...,2.132032518,year/1994,Household expenditure,percent
70,expenditure-on-alcohol-as-a-percentage-of-expe...,1.939008239,year/1995,Household expenditure,percent
71,expenditure-on-alcohol-as-a-percentage-of-expe...,2.016145454,year/1996,Household expenditure,percent
72,expenditure-on-alcohol-as-a-percentage-of-expe...,2.01606068,year/1997,Household expenditure,percent
73,expenditure-on-alcohol-as-a-percentage-of-expe...,1.845840665,year/1998,Household expenditure,percent
74,expenditure-on-alcohol-as-a-percentage-of-expe...,2.001767764,year/1999,Household expenditure,percent
75,expenditure-on-alcohol-as-a-percentage-of-expe...,1.930818728,year/2000,Household expenditure,percent
76,expenditure-on-alcohol-as-a-percentage-of-expe...,2.0227321,year/2001,Household expenditure,percent
77,expenditure-on-alcohol-as-a-percentage-of-expe...,2.072523189,year/2002,Household expenditure,percent
78,expenditure-on-alcohol-as-a-percentage-of-expe...,2.097066822,year/2003,Household expenditure,percent
79,expenditure-on-alcohol-as-a-percentage-of-expe...,2.165881265,year/2004,Household expenditure,percent
80,expenditure-on-alcohol-as-a-percentage-of-expe...,2.171395716,year/2005,Household expenditure,percent
81,expenditure-on-alcohol-as-a-percentage-of-expe...,2.065860973,year/2006,Household expenditure,percent
82,expenditure-on-alcohol-as-a-percentage-of-expe...,2.004359448,year/2007,Household expenditure,percent
83,expenditure-on-alcohol-as-a-percentage-of-expe...,1.886648645,year/2008,Household expenditure,percent
84,expenditure-on-alcohol-as-a-percentage-of-expe...,1.861305917,year/2009,Household expenditure,percent
85,expenditure-on-alcohol-as-a-percentage-of-expe...,1.864633298,year/2010,Household expenditure,percent
86,expenditure-on-alcohol-as-a-percentage-of-expe...,1.762958033,year/2011,Household expenditure,percent
87,expenditure-on-alcohol-as-a-percentage-of-expe...,1.712334625,year/2012,Household expenditure,percent
88,expenditure-on-alcohol-as-a-percentage-of-expe...,1.622823356,year/2013,Household expenditure,percent
89,expenditure-on-alcohol-as-a-percentage-of-expe...,1.560992691,year/2014,Household expenditure,percent
90,expenditure-on-alcohol-as-a-percentage-of-expe...,1.540314611,year/2015,Household expenditure,percent
91,expenditure-on-alcohol-as-a-percentage-of-expe...,1.499133372,year/2016,Household expenditure,percent
92,expenditure-on-alcohol-as-a-percentage-of-expe...,1.49365702,year/2017,Household expenditure,percent

,Prescription,Prescription item,Value,Period,Unit,Measure Type
0,all-prescription-settings,acamprosate-calcium,134673,year/2017,prescription-items,Count
1,all-prescription-settings,disulfiram,35807,year/2017,prescription-items,Count
2,all-prescription-settings,nalmefene,2497,year/2017,prescription-items,Count
3,all-prescription-settings,total,172977,year/2017,prescription-items,Count
4,prescribed-in-primary-care,acamprosate-calcium,131348,year/2017,prescription-items,Count
5,prescribed-in-primary-care,disulfiram,34718,year/2017,prescription-items,Count
6,prescribed-in-primary-care,nalmefene,2337,year/2017,prescription-items,Count
7,prescribed-in-primary-care,total,168403,year/2017,prescription-items,Count
8,prescribed-in-nhs-hospitals,acamprosate-calcium,3325,year/2017,prescription-items,Count
9,prescribed-in-nhs-hospitals,disulfiram,1089,year/2017,prescription-items,Count
10,prescribed-in-nhs-hospitals,nalmefene,160,year/2017,prescription-items,Count
11,prescribed-in-nhs-hospitals,total,4574,year/2017,prescription-items,Count
12,net-ingredient-cost,acamprosate-calcium,2716,year/2017,gbp-thousands,GBP Total
13,net-ingredient-cost,disulfiram,1569,year/2017,gbp-thousands,GBP Total
14,net-ingredient-cost,nalmefene,138,year/2017,gbp-thousands,GBP Total
15,net-ingredient-cost,total,4423,year/2017,gbp-thousands,GBP Total
16,average-net-ingredient-cost-per-item,acamprosate-calcium,20,year/2017,gbp,GBP Total
17,average-net-ingredient-cost-per-item,disulfiram,44,year/2017,gbp,GBP Total
18,average-net-ingredient-cost-per-item,nalmefene,55,year/2017,gbp,GBP Total
19,average-net-ingredient-cost-per-item,total,26,year/2017,gbp,GBP Total
20,all-prescription-settings,acamprosate-calcium,135306,year/2016,prescription-items,Count
21,all-prescription-settings,disulfiram,49661,year/2016,prescription-items,Count
22,all-prescription-settings,nalmefene,3364,year/2016,prescription-items,Count
23,all-prescription-settings,total,188331,year/2016,prescription-items,Count
24,prescribed-in-primary-care,acamprosate-calcium,132320,year/2016,prescription-items,Count
25,prescribed-in-primary-care,disulfiram,47990,year/2016,prescription-items,Count
26,prescribed-in-primary-care,nalmefene,3113,year/2016,prescription-items,Count
27,prescribed-in-primary-care,total,183423,year/2016,prescription-items,Count
28,prescribed-in-nhs-hospitals,acamprosate-calcium,2986,year/2016,prescription-items,Count
29,prescribed-in-nhs-hospitals,disulfiram,1671,year/2016,prescription-items,Count
...,...,...,...,...,...,...
240,all-prescription-settings,acamprosate-calcium,66851,year/2005,prescription-items,Count
241,all-prescription-settings,disulfiram,42261,year/2005,prescription-items,Count
243,all-prescription-settings,total,109112,year/2005,prescription-items,Count
244,prescribed-in-primary-care,acamprosate-calcium,60912,year/2005,prescription-items,Count
245,prescribed-in-primary-care,disulfiram,36851,year/2005,prescription-items,Count
247,prescribed-in-primary-care,total,97763,year/2005,prescription-items,Count
248,prescribed-in-nhs-hospitals,acamprosate-calcium,5939,year/2005,prescription-items,Count
249,prescribed-in-nhs-hospitals,disulfiram,5410,year/2005,prescription-items,Count
251,prescribed-in-nhs-hospitals,total,11349,year/2005,prescription-items,Count
252,net-ingredient-cost,acamprosate-calcium,1362,year/2005,gbp-thousands,GBP Total
253,net-ingredient-cost,disulfiram,599,year/2005,gbp-thousands,GBP Total
255,net-ingredient-cost,total,1960,year/2005,gbp-thousands,GBP Total
256,average-net-ingredient-cost-per-item,acamprosate-calcium,20,year/2005,gbp,GBP Total
257,average-net-ingredient-cost-per-item,disulfiram,14,year/2005,gbp,GBP Total
259,average-net-ingredient-cost-per-item,total,18,year/2005,gbp,GBP Total
260,all-prescription-settings,acamprosate-calcium,66863,year/2004,prescription-items,Count
261,all-prescription-settings,disulfiram,41218,year/2004,prescription-items,Count
263,all-prescription-settings,total,108081,year/2004,prescription-items,Count
264,prescribed-in-primary-care,acamprosate-calcium,61310,year/2004,prescription-items,Count
265,prescribed-in-primary-care,disulfiram,36651,year/2004,prescription-items,Count
267,prescribed-in-primary-care,total,97961,year/2004,prescription-items,Count
268,prescribed-in-nhs-hospitals,acamprosate-calcium,5553,year/2004,prescription-items,Count
269,prescribed-in-nhs-hospitals,disulfiram,4567,year/2004,prescription-items,Count
271,prescribed-in-nhs-hospitals,total,10120,year/2004,prescription-items,Count
272,net-ingredient-cost,acamprosate-calcium,1370,year/2004,gbp-thousands,GBP Total
273,net-ingredient-cost,disulfiram,456,year/2004,gbp-thousands,GBP Total
275,net-ingredient-cost,total,1516,year/2004,gbp-thousands,GBP Total
276,average-net-ingredient-cost-per-item,acamprosate-calcium,20,year/2004,gbp,GBP Total
277,average-net-ingredient-cost-per-item,disulfiram,11,year/2004,gbp,GBP Total
279,average-net-ingredient-cost-per-item,total,14,year/2004,gbp,GBP Total

,Geography,Prescription,Prescription item,Value,Period,Measure Type,Unit
0,E92000001,prescription-items,total,168403,year/2017,Count,prescription-items
3,E40000001,prescription-items,total,74935,year/2017,Count,prescription-items
4,E39000029,prescription-items,total,23833,year/2017,Count,prescription-items
5,E38000001,prescription-items,total,318,year/2017,Count,prescription-items
6,E38000006,prescription-items,total,1717,year/2017,Count,prescription-items
7,E38000008,prescription-items,total,164,year/2017,Count,prescription-items
8,E38000018,prescription-items,total,56,year/2017,Count,prescription-items
9,E38000019,prescription-items,total,362,year/2017,Count,prescription-items
10,E38000025,prescription-items,total,375,year/2017,Count,prescription-items
11,E38000044,prescription-items,total,228,year/2017,Count,prescription-items
12,E38000052,prescription-items,total,1479,year/2017,Count,prescription-items
13,E38000064,prescription-items,total,498,year/2017,Count,prescription-items
14,E38000069,prescription-items,total,332,year/2017,Count,prescription-items
15,E38000073,prescription-items,total,313,year/2017,Count,prescription-items
16,E38000085,prescription-items,total,327,year/2017,Count,prescription-items
17,E38000094,prescription-items,total,472,year/2017,Count,prescription-items
18,E38000095,prescription-items,total,876,year/2017,Count,prescription-items
19,E38000096,prescription-items,total,1145,year/2017,Count,prescription-items
20,E38000119,prescription-items,total,163,year/2017,Count,prescription-items
21,E38000121,prescription-items,total,572,year/2017,Count,prescription-items
22,E38000122,prescription-items,total,685,year/2017,Count,prescription-items
23,E38000141,prescription-items,total,2439,year/2017,Count,prescription-items
24,E38000145,prescription-items,total,368,year/2017,Count,prescription-items
25,E38000146,prescription-items,total,5180,year/2017,Count,prescription-items
26,E38000188,prescription-items,total,547,year/2017,Count,prescription-items
27,E38000190,prescription-items,total,1329,year/2017,Count,prescription-items
28,E39000037,prescription-items,total,20968,year/2017,Count,prescription-items
29,E38000016,prescription-items,total,1057,year/2017,Count,prescription-items
30,E38000024,prescription-items,total,780,year/2017,Count,prescription-items
31,E38000217,prescription-items,total,5207,year/2017,Count,prescription-items
...,...,...,...,...,...,...,...
1794,E38000177,prescription-items-per-100000-population,nalmefene,0,year/2017,Count,prescription-items
1795,E38000178,prescription-items-per-100000-population,nalmefene,3,year/2017,Count,prescription-items
1796,E38000180,prescription-items-per-100000-population,nalmefene,0,year/2017,Count,prescription-items
1797,E38000184,prescription-items-per-100000-population,nalmefene,6,year/2017,Count,prescription-items
1798,E38000199,prescription-items-per-100000-population,nalmefene,7,year/2017,Count,prescription-items
1799,E39000034,prescription-items-per-100000-population,nalmefene,3,year/2017,Count,prescription-items
1800,E38000003,prescription-items-per-100000-population,nalmefene,0,year/2017,Count,prescription-items
1801,E38000009,prescription-items-per-100000-population,nalmefene,0,year/2017,Count,prescription-items
1802,E38000017,prescription-items-per-100000-population,nalmefene,5,year/2017,Count,prescription-items
1803,E38000033,prescription-items-per-100000-population,nalmefene,0,year/2017,Count,prescription-items
1804,E38000062,prescription-items-per-100000-population,nalmefene,3,year/2017,Count,prescription-items
1805,E38000110,prescription-items-per-100000-population,nalmefene,9,year/2017,Count,prescription-items
1806,E38000114,prescription-items-per-100000-population,nalmefene,4,year/2017,Count,prescription-items
1807,E38000136,prescription-items-per-100000-population,nalmefene,2,year/2017,Count,prescription-items
1808,E38000148,prescription-items-per-100000-population,nalmefene,1,year/2017,Count,prescription-items
1809,E38000160,prescription-items-per-100000-population,nalmefene,0,year/2017,Count,prescription-items
1810,E38000181,prescription-items-per-100000-population,nalmefene,6,year/2017,Count,prescription-items
1811,E38000206,prescription-items-per-100000-population,nalmefene,8,year/2017,Count,prescription-items
1812,E38000207,prescription-items-per-100000-population,nalmefene,0,year/2017,Count,prescription-items
1813,E38000209,prescription-items-per-100000-population,nalmefene,1,year/2017,Count,prescription-items
1814,E39000025,prescription-items-per-100000-population,nalmefene,4,year/2017,Count,prescription-items
1815,E38000045,prescription-items-per-100000-population,nalmefene,7,year/2017,Count,prescription-items
1816,E38000059,prescription-items-per-100000-population,nalmefene,5,year/2017,Count,prescription-items
1817,E38000087,prescription-items-per-100000-population,nalmefene,0,year/2017,Count,prescription-items
1818,E38000118,prescription-items-per-100000-population,nalmefene,3,year/2017,Count,prescription-items
1819,E38000120,prescription-items-per-100000-population,nalmefene,1,year/2017,Count,prescription-items
1820,E38000137,prescription-items-per-100000-population,nalmefene,3,year/2017,Count,prescription-items
1821,E38000154,prescription-items-per-100000-population,nalmefene,1,year/2017,Count,prescription-items
1822,E38000167,prescription-items-per-100000-population,nalmefene,1,year/2017,Count,prescription-items
1823,E38000198,prescription-items-per-100000-population,nalmefene,5,year/2017,Count,prescription-items

In [7]:
for filename in tables.keys():
    basename = pathify(titles[filename])
    scraper.set_dataset_id(f'gss_data/health/nhs-statistics-on-alcohol-england/{basename}')
    scraper.dataset.title = titles[filename]
    scraper.dataset.description = {
        'Prescription Items Community': 'Number of prescription items, net ingredient cost and average net ingredient cost per item of drugs prescribed, for the treatment of alcohol dependence, dispensed in the community, England.',
        'Prescription Items Region': 'Number of prescription items and prescription items per 100,000 population, for the treatment of alcohol dependence, prescribed in primary care and dispensed in the community, by Commissioning Region and Area Team, England.',
        'Alcohol Specific Deaths': 'Alcohol-related deaths by gender, England.',
        'Alcohol Affordability': 'Indices of alcohol price, retail prices, alcohol price index relative to retail prices index (all items), real household disposable income, real disposable income per adult and affordability of alcohol, United Kingdom.',
        'Household Expenditure Alcohol': 'Household expenditure on off trade alcohol at current prices, United Kingdom.'
    }.get(titles[filename])
    with open(out / f'{basename}.csv-metadata.trig', 'wb') as metadata:
        metadata.write(scraper.generate_trig())