Table 4 -  Indices of alcohol price, retail prices, alcohol price index relative to retail prices index (all items), real household disposable income, real disposable income per adult and affordability of alcohol

In [1]:
from gssutils import *

if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://webarchive.nationalarchives.gov.uk/20180328130416/http://digital.nhs.uk/media/30889/Statistics-on-Alcohol-England-2017-Tables/Any/alc-eng-2017-tab'
    inputFile = sourceFolder / 'alc-eng-2017-tab'
    response = session.get(inputURL)
    with open(inputFile, 'wb') as f:
      f.write(response.content)

In [2]:
tab = loadxlstabs(inputFile, sheetids='Table 4')[0]

Loading in\alc-eng-2017-tab which has size 126229 bytes
Table names: ['Table 4']

In [3]:
observations = tab.excel_ref('B7').expand(DOWN).expand(RIGHT).is_not_blank()
observations

{<G37 99.2045931847103>, <D26 124.24031437637674>, <C43 100.0>, <G33 116.7303374430856>, <F27 147.93177510156977>, <F36 112.88724181250822>, <C23 254.77189988623437>, <C22 259.2599544937429>, <C28 223.05631399317406>, <B21 329.3361746824968>, <E20 203.27952158749483>, <C11 363.0836177474402>, <F24 160.48438099393778>, <G23 136.73829594151826>, <F17 186.93798081945837>, <G19 149.82272019600467>, <B33 208.41966451284338>, <F40 100.53328988985135>, <B18 349.6198491262692>, <C12 351.8634812286689>, <B28 276.8174491517331>, <C10 374.1541524459613>, <E38 111.1752601223082>, <C16 309.07736063708757>, <F41 98.72953342257956>, <B42 116.91122640608586>, <F10 185.02899677896764>, <F16 190.2199131171028>, <D39 111.00570489903436>, <G26 123.09435361445583>, <G32 111.81795773527254>, <D37 112.39171946486208>, <D12 123.66475368311191>, <D38 111.2122207988036>, <F13 189.45049525127428>, <D13 122.93466851882597>, <B47 'See Appendix B for affordability calculations'>, <B34 190.05774898940066>, <C9 382.9806598407281>, <C37 146.3405384907091>, <B37 164.4746474838463>, <D28 124.10204588972282>, <E43 100.0>, <G42 94.75763734678424>, <D34 110.27986465045628>, <C39 133.4091770951839>, <G28 116.06016470379336>, <E28 154.37652764493907>, <F20 182.58592784397825>, <D14 124.25966761624161>, <C25 243.7013651877133>, <F33 128.96458624718434>, <F35 118.70501342917304>, <G12 148.6069131824944>, <B26 292.73859057198325>, <G38 96.73946219943927>, <B29 266.7317216793456>, <G25 125.3304641903795>, <D15 119.27555893096911>, <B14 397.25702645064774>, <E16 219.49685534591197>, <F31 134.60321429676804>, <G24 127.86426879086473>, <C36 152.4442548350398>, <E21 198.2900037677883>, <F7 194.3749810589289>, <C27 228.44197952218428>, <C21 263.5984072810011>, <F9 186.33442460046717>, <B27 284.7990610179203>, <F19 183.89005896547494>, <D11 123.7839085863267>, <C29 215.5762229806598>, <E17 213.68267493647895>, <E42 99.62418726873992>, <C17 296.3612059158134>, <E37 115.90992087644551>, <B41 130.24158894865838>, <E25 168.27889362277676>, <G43 100.0>, <E30 147.37636340801282>, <C8 386.7207053469852>, <G36 100.4923644409474>, <C20 271.2281001137656>, <G35 105.53965342798072>, <D19 122.73843294588556>, <C19 279.30659840728094>, <B22 322.01385237291913>, <F23 169.289172617811>, <B16 368.6410542063214>, <D20 124.00997287108193>, <E31 143.5873209092929>, <B25 302.7261259827482>, <B13 411.2283540758188>, <B50 'Population estimates used in this calculation are mid-year population estimates for 2015.'>, <E36 118.02162130829204>, <G17 154.7361640139658>, <D40 110.1455515547653>, <C18 287.23549488054607>, <D7 121.1997445835192>, <E18 210.27350278719723>, <F25 155.6856518335417>, <E34 131.34471398622344>, <C14 319.69908987485775>, <D17 120.81078913303433>, <D29 123.72965719103222>, <F26 152.9328119101688>, <E8 236.13695427450753>, <G10 149.6084209630734>, <D24 125.51151507105291>, <G40 91.27312766677221>, <C30 210.4897610921501>, <B10 462.7371041156062>, <B39 148.09179743451>, <E26 164.63302707977084>, <B17 358.03631155107104>, <G8 157.49890311733446>, <D25 124.22011905824594>, <B15 383.28569882547663>, <G18 152.5057512587476>, <F38 107.58610430081555>, <C31 207.19852104664392>, <C34 172.34129692832764>, <C26 235.62286689419793>, <E14 222.47456742891924>, <D33 110.48077909486366>, <F37 111.49774806841728>, <F12 183.77437314320767>, <E23 184.92208406998424>, <D36 112.33414841069289>, <C24 247.4414106939704>, <E24 174.33073452550022>, <D43 100.0>, <E40 102.33757451042904>, <B49 'The RHDI index was adjusted using mid-year ONS population estimates of the adult population aged 18 and over for each year. Population estimates for 2001-2010 were revised following the 2011 census. See Appendix B for further information. '>, <E32 139.61954999082204>, <F22 176.22820089228446>, <D8 122.61652568819028>, <D16 119.27145147300917>, <G14 152.4095759463501>, <C42 111.86954872961698>, <G31 111.84838096550153>, <D31 120.34435647153892>, <G27 118.65849352750071>, <B35 179.8738294553904>, <D9 123.15466647377103>, <D32 117.30125835373593>, <G15 156.62442487290375>, <F14 189.38363248625797>, <F21 179.28620072843046>, <E12 219.9864746060729>, <F28 144.03303886038952>, <D27 124.67019486243906>, <F30 137.9158345573747>, <B48 'These figures have been revised since previous editions of this report, due to revisions in the population estimates for 2001 to 2010 and NRJR taken from United Kingdom Economic accounts series from ONS.'>, <E33 136.7672376315103>, <E19 206.2145320696751>, <D22 124.20500998764572>, <G21 143.49944097406748>, <E13 224.65254229100853>, <C32 199.71843003412968>, <B24 310.5674634751886>, <G16 159.48486479193144>, <E10 224.43304446956301>, <F39 103.43833507074103>, <G29 113.52824609862738>, <B9 471.6585542858962>, <E7 239.67964138384104>, <B20 336.34989336983165>, <C40 127.07622298065984>, <G13 154.10664667165244>, <C13 334.5096700796359>, <B12 435.1311073622561>, <F32 131.1638714889233>, <E39 106.10690857799806>, <E22 193.6714681815108>, <F42 99.02812444815693>, <B11 449.43909348441923>, <E9 227.8402844197123>, <D35 112.47432559571196>, <F34 124.39226880758723>, <B30 260.3772925486202>, <B32 234.27223159435977>, <B23 315.42095680682434>, <C15 321.3447098976109>, <G39 93.18290007240957>, <B38 157.39249450934204>, <D18 121.71888758792404>, <F18 185.62830393975406>, <D42 104.50674712977911>, <E41 99.80735974649548>, <D23 123.8052379197518>, <B31 249.35172677212972>, <G34 112.7969001429787>, <B7 477.0450902377694>, <B36 171.2469554699685>, <G30 111.49156204312847>, <D10 123.6755228000413>, <C41 121.50170648464163>, <E27 158.80319585736507>, <C7 393.6023890784983>, <B43 100.0>, <G41 92.10427243792812>, <F29 140.46810971282306>, <G7 160.37573488860315>, <D21 124.9386056917324>, <E35 124.65312195074824>, <G9 151.30114833298006>, <E11 224.72731839743406>, <F8 193.11968299948435>, <F11 185.5027815624661>, <E29 150.31832980706992>, <C35 159.92434584755404>, <D41 107.19321787066546>, <C38 141.5244596131968>, <C33 188.6478953356086>, <G20 147.23487443529288>, <D30 123.70069270715256>, <B8 474.1834930133368>, <B19 342.8165419995544>, <B40 139.9688066970112>, <F43 100.0>, <F15 186.81465818957176>, <E15 217.61470017099964>, <G22 141.88493758006487>, <G11 149.8601746228564>}

In [4]:
gr = tab.excel_ref('B5').expand(RIGHT).is_not_blank()
gr

{<D5 'Alcohol price index relative to Retail price index (all items)'>, <C5 'Retail prices index\n(all items)'>, <B5 'Alcohol price index'>, <F5 'Real disposable income per adult (18+)\n(revised)2,3'>, <E5 'Real household disposable income (revised)2,3'>, <G5 'Affordability of alcohol index on a per capita basis (revised)1,2,3'>}

In [5]:
code = tab.excel_ref('A7').expand(DOWN).is_not_blank() - tab.excel_ref('A44')
code

{<A17 2006.0>, <A33 1990.0>, <A34 1989.0>, <A54 'Alcohol Price and Retail Prices (all items) Indices: derived from Focus on Consumer Price Indices: (Codes CBAA, CBAB, CHBD, CHAW). The Office for National Statistics\n\n'>, <A12 2011.0>, <A47 1.0>, <A55 'Real Households Disposable Income: Economic Trends: (Code NRJR). The Office for National Statistics'>, <A10 2013.0>, <A27 1996.0>, <A8 2015.0>, <A46 'Footnotes'>, <A15 2008.0>, <A23 2000.0>, <A38 1985.0>, <A9 2014.0>, <A41 1982.0>, <A53 'Sources'>, <A29 1994.0>, <A37 1986.0>, <A58 'Copyright © 2017, re-used with the permission of The Office for National Statistics'>, <A11 2012.0>, <A43 1980.0>, <A36 1987.0>, <A7 2016.0>, <A39 1984.0>, <A56 'MYE2: Population Estimatesin England, mid-2013. The Office for National Statistics'>, <A18 2005.0>, <A32 1991.0>, <A48 2.0>, <A13 2010.0>, <A21 2002.0>, <A59 'Copyright © 2017. Health and Social Care Information Centre, Lifestyles Statistics. All rights reserved'>, <A31 1992.0>, <A42 1981.0>, <A24 1999.0>, <A40 1983.0>, <A30 1993.0>, <A25 1998.0>, <A19 2004.0>, <A35 1988.0>, <A14 2009.0>, <A16 2007.0>, <A28 1995.0>, <A50 4.0>, <A49 3.0>, <A26 1997.0>, <A20 2003.0>, <A22 2001.0>}

In [6]:
Dimensions = [
            HDim(code,'Period',DIRECTLY,LEFT),
            HDim(gr,'Affordability of alcohol',DIRECTLY,ABOVE),
            HDimConst('Geography','K02000001'),
            HDimConst('Unit','Indices'),
            HDimConst('Measure Type','Percentage')
            ]

In [7]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# if is_interactive():
#     savepreviewhtml(c1)

In [8]:
new_table = c1.topandas()
new_table

,OBS,DATAMARKER,Period,Affordability of alcohol,Geography,Unit,Measure Type
0,477.045,NaN,2016.0,Alcohol price index,K02000001,Indices,Percentage
1,393.602,NaN,2016.0,Retail prices index\n(all items),K02000001,Indices,Percentage
2,121.2,NaN,2016.0,Alcohol price index relative to Retail price i...,K02000001,Indices,Percentage
3,239.68,NaN,2016.0,"Real household disposable income (revised)2,3",K02000001,Indices,Percentage
4,194.375,NaN,2016.0,Real disposable income per adult (18+)\n(revis...,K02000001,Indices,Percentage
5,160.376,NaN,2016.0,Affordability of alcohol index on a per capita...,K02000001,Indices,Percentage
6,474.183,NaN,2015.0,Alcohol price index,K02000001,Indices,Percentage
7,386.721,NaN,2015.0,Retail prices index\n(all items),K02000001,Indices,Percentage
8,122.617,NaN,2015.0,Alcohol price index relative to Retail price i...,K02000001,Indices,Percentage
9,236.137,NaN,2015.0,"Real household disposable income (revised)2,3",K02000001,Indices,Percentage
10,193.12,NaN,2015.0,Real disposable income per adult (18+)\n(revis...,K02000001,Indices,Percentage
11,157.499,NaN,2015.0,Affordability of alcohol index on a per capita...,K02000001,Indices,Percentage
12,471.659,NaN,2014.0,Alcohol price index,K02000001,Indices,Percentage
13,382.981,NaN,2014.0,Retail prices index\n(all items),K02000001,Indices,Percentage
14,123.155,NaN,2014.0,Alcohol price index relative to Retail price i...,K02000001,Indices,Percentage
15,227.84,NaN,2014.0,"Real household disposable income (revised)2,3",K02000001,Indices,Percentage
16,186.334,NaN,2014.0,Real disposable income per adult (18+)\n(revis...,K02000001,Indices,Percentage
17,151.301,NaN,2014.0,Affordability of alcohol index on a per capita...,K02000001,Indices,Percentage
18,462.737,NaN,2013.0,Alcohol price index,K02000001,Indices,Percentage
19,374.154,NaN,2013.0,Retail prices index\n(all items),K02000001,Indices,Percentage
20,123.676,NaN,2013.0,Alcohol price index relative to Retail price i...,K02000001,Indices,Percentage
21,224.433,NaN,2013.0,"Real household disposable income (revised)2,3",K02000001,Indices,Percentage
22,185.029,NaN,2013.0,Real disposable income per adult (18+)\n(revis...,K02000001,Indices,Percentage
23,149.608,NaN,2013.0,Affordability of alcohol index on a per capita...,K02000001,Indices,Percentage
24,449.439,NaN,2012.0,Alcohol price index,K02000001,Indices,Percentage
25,363.084,NaN,2012.0,Retail prices index\n(all items),K02000001,Indices,Percentage
26,123.784,NaN,2012.0,Alcohol price index relative to Retail price i...,K02000001,Indices,Percentage
27,224.727,NaN,2012.0,"Real household disposable income (revised)2,3",K02000001,Indices,Percentage
28,185.503,NaN,2012.0,Real disposable income per adult (18+)\n(revis...,K02000001,Indices,Percentage
29,149.86,NaN,2012.0,Affordability of alcohol index on a per capita...,K02000001,Indices,Percentage
...,...,...,...,...,...,...,...
196,103.438,NaN,1984.0,Real disposable income per adult (18+)\n(revis...,K02000001,Indices,Percentage
197,93.1829,NaN,1984.0,Affordability of alcohol index on a per capita...,K02000001,Indices,Percentage
198,139.969,NaN,1983.0,Alcohol price index,K02000001,Indices,Percentage
199,127.076,NaN,1983.0,Retail prices index\n(all items),K02000001,Indices,Percentage
200,110.146,NaN,1983.0,Alcohol price index relative to Retail price i...,K02000001,Indices,Percentage
201,102.338,NaN,1983.0,"Real household disposable income (revised)2,3",K02000001,Indices,Percentage
202,100.533,NaN,1983.0,Real disposable income per adult (18+)\n(revis...,K02000001,Indices,Percentage
203,91.2731,NaN,1983.0,Affordability of alcohol index on a per capita...,K02000001,Indices,Percentage
204,130.242,NaN,1982.0,Alcohol price index,K02000001,Indices,Percentage
205,121.502,NaN,1982.0,Retail prices index\n(all items),K02000001,Indices,Percentage
206,107.193,NaN,1982.0,Alcohol price index relative to Retail price i...,K02000001,Indices,Percentage
207,99.8074,NaN,1982.0,"Real household disposable income (revised)2,3",K02000001,Indices,Percentage
208,98.7295,NaN,1982.0,Real disposable income per adult (18+)\n(revis...,K02000001,Indices,Percentage
209,92.1043,NaN,1982.0,Affordability of alcohol index on a per capita...,K02000001,Indices,Percentage
210,116.911,NaN,1981.0,Alcohol price index,K02000001,Indices,Percentage
211,111.87,NaN,1981.0,Retail prices index\n(all items),K02000001,Indices,Percentage
212,104.507,NaN,1981.0,Alcohol price index relative to Retail price i...,K02000001,Indices,Percentage
213,99.6242,NaN,1981.0,"Real household disposable income (revised)2,3",K02000001,Indices,Percentage
214,99.0281,NaN,1981.0,Real disposable income per adult (18+)\n(revis...,K02000001,Indices,Percentage
215,94.7576,NaN,1981.0,Affordability of alcohol index on a per capita...,K02000001,Indices,Percentage
216,100,NaN,1980.0,Alcohol price index,K02000001,Indices,Percentage
217,100,NaN,1980.0,Retail prices index\n(all items),K02000001,Indices,Percentage
218,100,NaN,1980.0,Alcohol price index relative to Retail price i...,K02000001,Indices,Percentage
219,100,NaN,1980.0,"Real household disposable income (revised)2,3",K02000001,Indices,Percentage
220,100,NaN,1980.0,Real disposable income per adult (18+)\n(revis...,K02000001,Indices,Percentage
221,100,NaN,1980.0,Affordability of alcohol index on a per capita...,K02000001,Indices,Percentage
222,,See Appendix B for affordability calculations,1.0,Alcohol price index,K02000001,Indices,Percentage
223,,These figures have been revised since previous...,2.0,Alcohol price index,K02000001,Indices,Percentage
224,,The RHDI index was adjusted using mid-year ONS...,3.0,Alcohol price index,K02000001,Indices,Percentage
225,,Population estimates used in this calculation ...,4.0,Alcohol price index,K02000001,Indices,Percentage

In [9]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [10]:
new_table.head()

,Value,DATAMARKER,Period,Affordability of alcohol,Geography,Unit,Measure Type
0,477.045,NaN,2016.0,Alcohol price index,K02000001,Indices,Percentage
1,393.602,NaN,2016.0,Retail prices index\n(all items),K02000001,Indices,Percentage
2,121.2,NaN,2016.0,Alcohol price index relative to Retail price i...,K02000001,Indices,Percentage
3,239.68,NaN,2016.0,"Real household disposable income (revised)2,3",K02000001,Indices,Percentage
4,194.375,NaN,2016.0,Real disposable income per adult (18+)\n(revis...,K02000001,Indices,Percentage

In [11]:
new_table.head()

,Value,DATAMARKER,Period,Affordability of alcohol,Geography,Unit,Measure Type
0,477.045,NaN,2016.0,Alcohol price index,K02000001,Indices,Percentage
1,393.602,NaN,2016.0,Retail prices index\n(all items),K02000001,Indices,Percentage
2,121.2,NaN,2016.0,Alcohol price index relative to Retail price i...,K02000001,Indices,Percentage
3,239.68,NaN,2016.0,"Real household disposable income (revised)2,3",K02000001,Indices,Percentage
4,194.375,NaN,2016.0,Real disposable income per adult (18+)\n(revis...,K02000001,Indices,Percentage

In [12]:
new_table.tail()

,Value,DATAMARKER,Period,Affordability of alcohol,Geography,Unit,Measure Type
221,100,NaN,1980.0,Affordability of alcohol index on a per capita...,K02000001,Indices,Percentage
222,,See Appendix B for affordability calculations,1.0,Alcohol price index,K02000001,Indices,Percentage
223,,These figures have been revised since previous...,2.0,Alcohol price index,K02000001,Indices,Percentage
224,,The RHDI index was adjusted using mid-year ONS...,3.0,Alcohol price index,K02000001,Indices,Percentage
225,,Population estimates used in this calculation ...,4.0,Alcohol price index,K02000001,Indices,Percentage

In [13]:
new_table.dtypes

Value                       object
DATAMARKER                  object
Period                      object
Affordability of alcohol    object
Geography                   object
Unit                        object
Measure Type                object
dtype: object

In [14]:
new_table['Value'] = new_table['Value'].astype(str)

In [15]:
new_table = new_table[new_table['Value'] != '' ]

In [16]:
new_table['Period'] = pd.to_numeric(new_table['Period'], errors='coerce').fillna(0)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
new_table['Period'] = new_table['Period'].astype(int)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [18]:
new_table.head(3)

,Value,DATAMARKER,Period,Affordability of alcohol,Geography,Unit,Measure Type
0,477.0450902377694,NaN,2016,Alcohol price index,K02000001,Indices,Percentage
1,393.6023890784983,NaN,2016,Retail prices index\n(all items),K02000001,Indices,Percentage
2,121.1997445835192,NaN,2016,Alcohol price index relative to Retail price i...,K02000001,Indices,Percentage

In [19]:
new_table['Affordability of alcohol'] = new_table['Affordability of alcohol'].str.rstrip('123')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
new_table['Affordability of alcohol'] = new_table['Affordability of alcohol'].str.rstrip('1,2,')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [21]:
new_table = new_table[['Geography','Period','Affordability of alcohol','Measure Type','Value','Unit']]

In [22]:
if is_interactive():
    SubstancetinationFolder = Path('out')
    SubstancetinationFolder.mkdir(exist_ok=True, parents=True)
    new_table.to_csv(SubstancetinationFolder / ('table4.csv'), index = False)

In [23]:
new_table.head()

,Geography,Period,Affordability of alcohol,Measure Type,Value,Unit
0,K02000001,2016,Alcohol price index,Percentage,477.0450902377694,Indices
1,K02000001,2016,Retail prices index\n(all items),Percentage,393.6023890784983,Indices
2,K02000001,2016,Alcohol price index relative to Retail price i...,Percentage,121.1997445835192,Indices
3,K02000001,2016,Real household disposable income (revised),Percentage,239.67964138384104,Indices
4,K02000001,2016,Real disposable income per adult (18+)\n(revised),Percentage,194.3749810589289,Indices